<h1> Log In Here</h1>

<form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="mb-3">
    <label>First Name</label>
    <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" required>
  </div>

  <div class="mb-3">
    <label>Password </label><i (click)="toggleHiddenPassword()" class="bi bi-eye"></i>
    <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="password" required>
  </div>

  </form>
